<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=content-width, initial-scale=1">
    <link rel="stylesheet" href="/CSS/style_song_page.css">
    <link rel="icon" href="http://www.pngall.com/wp-content/uploads/2016/09/Clef-Note.png">
    <link href="https://fonts.googleapis.com/css?family=Alatsi&display=swap" rel="stylesheet">
    <title>GeniusLyrics | Lyrics</title>
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <div id="sidebar">
      <ul>
        <li><a href="/">Search lyrics</a></li>
        <li><a href="/library">View my lyrics</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </div>
    <div id="container">
        <div id="songText">
          <input type="button" id="addSong" value="Add to library" onclick="addLyrics(<%= mediaData.songId %>)">
          <img src="<%= mediaData.image %>" alt="cover">
          <h1 name="songName" id="songName"><%= mediaData.songName %></h1>
          <h2 name="singer" id="singer"><%= mediaData.singer %></h2>
          <p name="album" id="album"><%= mediaData.album %></p>
<pre>
<%= mediaData.lyrics %>
</pre>
          <script>
            var socket = io.connect();

            function addLyrics(songId) {
              socket.emit('added', songId);
            }

            socket.on('addSong', data => {
              if (data === 'Non loged in') {
                location.replace("https://lyricsviewer.herokuapp.com/login");
              }
            });
          </script>
        </div>
    </div>
  </body>
</html>
